# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Anusha College Project\TreeManagementApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
